.navbar {
    background-color: rgba(255, 255, 232, 0.7);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    position: fixed;
    z-index: 1000;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 40px;
    margin-right: 10px;
}

.text {
    font-size: 18px;
    font-weight: bold;
}

.nav-buttons ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-buttons li {
    margin-right: 20px;
}

.nav-buttons li:last-child {
    margin-right: 0;
}

.nav-buttons li a {
    display: block;
    color: black;
    text-align: center;
    text-decoration: none;
}

.nav-buttons li a:hover:not(.active) {
    background-color: rgba(4, 254, 2, 0.1);
    border-radius: 10px;
}

.active {
    background-color: #04AA6D;
}

@media (max-width: 768px) {
    .navbar {
        flex-direction: row;
        justify-content: center;
    }

    .logo-container {
        margin-right: 20px;
    }

    .nav-buttons ul {
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav-buttons li {
        margin: 5px;
    }
}
