.primarybutton-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 300px;
  }
  
  .button-style {
    background-color: #fff;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 100%;
    text-align: center;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #f0f0f0;
    }
  }
  